body {
  background-color: #F2F1E8;
  margin: 0;
}

header {
  color: #2B2F26;
  background-color: #FFF;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

footer {
  background-color: #2B2F26;
  color: #FFF;
}

footer p {
  padding: 30px;
  margin: 0 10px;
  font-family: "Merriweather", arial, helvetica;
  font-weight: 100;
  font-size: .9em;
}

form {
  background-color: #fff;
}

section {
  margin-bottom: 50px;
}

.aboutH1 {
  font-family: "Merriweather", arial, helvetica;
  font-weight: 300;
}

.mainNavigation {
  color: #2B2F26;
  margin: 0 auto;
  padding-right: 7%;
}

.mainNavigation a {
  margin: 0 30px;
}

.titleCard {
  display: flex;
  align-items: flex-end;
}

.titleCard p {
  background-color: #2B2F26;
  color: #F2F1E8;
  padding: 10px;
  font-family: "Merriweather", arial, helvetica;
  font-size: 85%;
}

#artistCommunity {
  font-weight: 400;
  font-size: 4em;
  font-family: "Merriweather", arial, helvetica;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}

#bigPlantThing {
  width: auto;
  height: 320px;
  background-image: url("./images/background-3.jpg");
  background-position: 0% 25%;
  background-size: cover;
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-content: center;
  justify-content: center;
}

#bigPlantThing p {
  color: #F2F1E8;
  text-align: center;
  font-size: 4.5em;
  font-family: "Merriweather", arial, helvetica;
  padding-top: 35px;
}

#birdHouse {
  width: 160px;
  height: 120px;
  background-image: url("./images/birdhouse.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
  padding: 0;
  float: left;
  margin: 0 20px 20px 0;
}

#bottomHalf {
  width: 900px;
  margin: 0 auto;
}

#bottomHalf p {
  font-family: "Merriweather", arial, aelvetica;
  font-size: 1.3em;
  line-height: 175%;
}

#endlessPossibilities {
  width: 510px;
  height: 250px;
  background-image: url("./images/product-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
  margin: 7.5px;
}

#formH1 {
  text-align: center;
  font-family: "Merriweather", arial, helvetica;
  color: #2B2F26;
  font-weight: 200;
}

#formH3 {
  text-align: center;
  font-family: "Merriweather", arial, helvetica;
  color: #2B2F26;
  font-weight: 200;
}

#indexTitleCards {
  margin: 30px 0;
}

#indexTitleCards h1 {
  text-align: center;
  font-family: "Merriweather", arial, helvetica;
  margin: 0px 0px 10px 0px;
  font-weight: 300;
  font-size: 4em;
}

#indexTitleCards h3 {
  text-align: center;
  font-family: "Merriweather", arial, helvetica;
  margin: 10px 0px 0px 0px;
  font-weight: 200;
  font-size: 2em;
}

#jarsAndContainers {
  width: 160px;
  height: 165px;
  background-image: url("./images/product-5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  margin: 7.5px;
}

#myLogo {
  background-image: url("./images/bent-creek-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 45px;
  height: 45px;
  margin: 10px;
}

#newsLetterPage {
  background-image: url("./images/background-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#newsLetterWindow {
  width: 600px;
  height: 400px;
  margin: 0 auto;
  padding: 100px 0 150px 0;
}

#pictureWrapper {
  width: 875px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-flow: row wrap;
  margin: 7.5px auto;
}

#quote {
  font-weight: 200;
  font-style: italic;
  border-left-style: solid;
  border-left-width: 2px;
  border-left-color: #968772;
  padding: 0 20px;
  margin: 30px 0;
}

#quote p {
  font-family: "Merriweather", arial, helvetica;
}

#sets {
  width: 160px;
  height: 250px;
  background-image: url("./images/product-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  margin: 7.5px;
}

#textures {
  width: 160px;
  height: 250px;
  background-image: url("./images/product-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  margin: 7.5px;
}

#teaTime {
  width: 160px;
  height: 165px;
  background-image: url("./images/product-4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  margin: 7.5px;

}

#topHalf {
  width: 900px;
  margin: 0 auto;
}

#topHalf p {
  font-family: "Merriweather", arial, aelvetica;
  font-size: 1.3em;
  line-height: 175%;
}

#sippinOnSunshine {
  width: 160px;
  height: 165px;
  background-image: url("./images/product-7.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  margin: 7.5px;
}

#thatWeirdEmptyBox {
  width: 160px;
  height: 100px;
}

#wasabiAndSake {
  width: 335px;
  height: 165px;
  background-image: url("./images/product-6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  margin: 7.5px;
}

#weirdClayPotPictureContainer {
  width: 160px;
  height: 200px;
  background-image: url("./images/background-1.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
  padding: 0;
  float: right;
  margin-left: 40px;
}

#weirdClayPotPictureContainer p {
  font-size: .74em;
  font-family: "Merriweather", arial, helvetica;
  line-height: 150%;
}

#yourEmail {

}

#yourName {

}

















/* DO NOT USE - REFERENCE ONLY */
.myText {
  color: #121511;
}

.myInlineLink {
  color: #968772;
}

.myInlineLinkHover {
  color: #867343;
}

.myNavigationBackground {
  color: #FFF;
}

.myNavigationText {
  color: #2B2F26;
}

.myNavigationTextHover {
  color: #CD5D67;
}

.myNavigationTextActive {
  color: #968772;
}

.myButtonBackground {
  color: #968772;
}

.myButtonBackgroundHover {
  color: #867343;
}

.myButtonText {
  color: #F2F1E8;
}

.myButtonTextHover {
  color: #FFF;
}

.myInputBorderBottom {
  color: #968772;
}

.myInputBorderBottomFocus {
  color: #967343;
}
/* DO NOT USE - REFERENCE ONLY */
